* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: #fff;
  scroll-behavior: smooth;
}

.nav_bar {
  width: 100%;
  height: 70px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  transition: ease-in 1s;
}

.logo {
  font-family: Arial, sans-serif;
  font-size: 28px;
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
}

.nav_list li {
  list-style: none;
  display: inline;
  padding: 20px;
}

.nav_list li a {
  text-decoration: none;
}

.logo a {
  text-decoration: none;
  color: inherit;
}

.logo a:hover {
  text-decoration: none;
}

.main {
  width: 100%;
  height: 90vh;
  background-color: black;
  background-image: url(/assets/Inam.jpeg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main::before {
  content: "";
  background-color: black;
}

.hero_content {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 195px;
}

.hero-left h1 {
  font-size: 72px;
}

.hero-left p {
  font-size: 48px;
}

.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.description p {
  font-size: 18px;
  line-height: 1.7rem;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon a {
  padding: 15px;
  font-size: 24px;
}

.divider {
  background-color: rgba(29, 27, 27, 0.068);
  width: 100%;
  height: 1px;
}
